.nav-wrapper {
    background-color: $primary-background-color;
    color: $primary-color;
}

.image-one {
    background-image: url('images/darthmaul1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-two {
    background-image: url("images/darthmaul2.png");
    background-size: cover;
    background-repeat: no-repeat; }

.image-three {
    background-image: url("images/darthmaul2.png");
    background-size: cover;
    background-repeat: no-repeat; }

